 body, html {
      font-family: sans-serif;
      color: white;
      background-color: black;
    }

 h1 {
      text-align: center;
    }

 h3 {font-size: 8px;
 	text-align: center;
 }

 #panel-title {
 	font-weight: bolder;
 	font-size: 20px;
 	

 }